/* colors */
$danger: rgb(139, 45, 54);
$success: rgb(58, 153, 82);
$info: rgb(65, 84, 100);
/* mixins */
@mixin btnColorTemplate($color){
   background-color: $color;
   &:hover {
      background-color: darken($color, 7%);
   }
   &:active {
      background-color: darken($color, 15%);
   }
   &:disabled {
      opacity: .65;
   }
   &:disabled:hover {
      background-color: $color;
   }
}

.btn {
   display: inline-block;
   font-weight: 400;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   user-select: none;
   border: 1px solid transparent;
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   border-radius: .25rem;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

   &--danger {
      @include btnColorTemplate($danger);
   }
   &--success {
      @include btnColorTemplate($success);
   }
   &--info {
      @include btnColorTemplate($info);
   }
 }