.input {
   background-color: transparent;
   border: 0;
   border-bottom: 1px solid #000;
   &:focus {
      border-bottom: 1px solid $hoverLink;
   }
   &:disabled {   
      // opacity: .5;
      background-color: transparent;
   }
   &--switchable {
      font-style: italic;
      &:disabled {
         font-style: normal ;
         background-color: transparent;
         border: 0;
         border-bottom: 1px solid #000;
      }  
   }
}