html {
  font-size: 16px;
  @include reg();
}

a {
  text-decoration: none;
  &:hover {
    color: $hoverLink;
  }
  &:active {
    color: $activeLink;
  }
}
h2 {
  @include bold();
}
.container {
	max-width: 100%;
	margin: auto;
  padding: 0 15px;
  &--contacts {
    padding: 0 30px;
    @media (max-width: $xs) {
      padding: 0 30px 0 0;
    };
  }

}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background 0.3s ease 0s;
  z-index: 100;
  &--hidden {
    z-index: -100;
    background-color: rgba(0, 0, 0, 0);
  }
  &--hiding {
    background-color: rgba(0, 0, 0, 0);
  }
}
.fitImg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
input.inputControl {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  cursor: pointer;
  width: 0;
  height: 0;
  box-shadow: none;
}
