html {
  font-size: 16px;
  @include reg();
}

a {
  text-decoration: none;
  &:hover {
    color: $hoverLink;
  }
  &:active {
    color: $activeLink;
  }
}
h2 {
  @include bold();
}
.container {
	max-width: 1140px;
	margin: auto;
	padding: 0 15px;
  @media  (max-width: $lg) {
    max-width: 960px; 
  }
  @media  (max-width: $md) {
    max-width: 720px;
  }
  @media (max-width: $sm) {
    max-width: 540px;
  }
  @media (max-width: $xs) {
    max-width: 100%;
    padding: 0 5px;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: background 0.3s ease 0s;
  z-index: 100;
  &--hidden {
    z-index: -100;
    background-color: rgba(0, 0, 0, 0);
  }
  &--hiding {
    background-color: rgba(0, 0, 0, 0);
  }
}
.fitImg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.inputControl {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  cursor: pointer;
  width: 0;
  height: 0;
}
