/* === fonts === */
@mixin reg(){
	font-family: "Open Sans", "Arial", sans-serif;
}
@mixin bold(){
	font-family: "Open Sans Bold", "Arial", sans-serif;
} 
@mixin unusual(){
	font-family: "CheapPizza", "Arial", sans-serif;
} 