/* Breakpoints */
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;

/* Colors */
$noteBG1: #FCE68F;
$noteBG2: #D0CEDA;
$noteBG3: #B7DECE;

$background: #ffffff;
$contactBG: #D36B6B;
$profileBG: #f9f6f5;
$black: #000000;
$desabled: #c9ccd0;
$favoriteAvatarBorder: #FFD800;
$missingLetter:  #cecece;
$existingLetter: #00b4e0;