/* ============== Static ============= */

/* Breakpoints */
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;

/* Colors */
$primary-color-dark:   #181a19;
$primary-color:        #dce2e2;
$primary-color-light:  #e8eeee;
$text-color-dark:      #0c0e0d;
$text-color-light:     #ffffff;
$text-color-muddy:     #787878;
$divider-color:        #03a389; 
$accent-color:         #f8de37;
$danger-color:         #b42c3a;
$success-color:         #3A9B26;



$noteBgGradient: linear-gradient(
  42deg,
  rgba(255, 239, 135, 1) 0%,
  rgba(255, 222, 93, 1) 57%,
  rgba(245, 206, 105, 1) 100%
);
$noteBg:  rgba(255, 239, 135, 1);
$noteHeaderBg: #ffea85;

